<!-- ЗДЕСЬ БУДЕТ СТРАНИЧКА С ФОНОВОЙ КАРТОГРАММОЙ -->
{% extends 'core/base.html' %}
{% load static%}

{% block title %}Картограммы{% endblock %}


{% block content %}
<div style="width: 100%; display: flex; justify-content: center; gap: 5%;">
    <div id="map" style="flex: 2;"></div>
    <div class="picker" style="flex: 1;">
        <form style="text-align: center;">
            <select id="parameter-select" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
            rounded-lg focus:ring-blue-500 focus:border-blue-500 h-8 w-60">
                {% for param in params %}  <!-- Используем переменную params из контекста -->
                    <option value="{{ param.param_id }}">{{ param.name }}</option>
                {% endfor %}
            </select> <br><br>
            <select id="aggregate-select" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
            rounded-lg focus:ring-blue-500 focus:border-blue-500 h-8 w-60">
                <option value="avg"> Среднее </option>
                <option value="min"> Минимум </option>
                <option value="max"> Максимум </option>
                <option value="sum" class="precip-option"> Сумма </option>
                <option value="anom"> Аномалия </option>
                <option value="cdd" class="temp-option" > Градусо-дни охлаждения </option>
                <option value="hdd" class="temp-option" > Градусо-дни отопления </option>
            </select><br><br>
            <select id="period-select" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
            rounded-lg focus:ring-blue-500 focus:border-blue-500 h-8 w-60">
                <option value="1"> Январь </option>
                <option value="2"> Февраль </option>
                <option value="3"> Март </option>
                <option value="4"> Апрель </option>
                <option value="5"> Май </option>
                <option value="6"> Июнь </option>
                <option value="7"> Июль </option>
                <option value="8"> Август </option>
                <option value="9"> Сентябрь </option>
                <option value="10"> Октябрь </option>
                <option value="11"> Ноябрь </option>
                <option value="12"> Декабрь </option>
            </select><br><br>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> ОК </button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %} 
    <script>
        const hereURL = "{% static 'core/' %}"
    </script>
    <script src="{% static 'core/cartography.js' %}" ></script>
    <script src="{% static 'core/handle_selection.js' %}" ></script>
{% endblock %}


<!-- подгружаем leaflet -->
{% block extra_header %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
    <script src="
        https://cdn.jsdelivr.net/npm/@turf/turf@7.2.0/turf.min.js
    "></script>
{% endblock %}